# Python
.venv/
venv/
__pycache__/
*.pyc

# AI model
*.h5

# Runtime
Backend/temp/
Backend/tmp/
Backend/image/
Backend/debug_*.json
received_image.jpg

# Node
node_modules/

# Env
.env

# IDE
.vscode/

# OS
.DS_Store

# User requested ignores
notebook/
Backend/check_error.py
Backend/fix_db.py
Backend/fix_db2.py
Backend/test_*.py
.env.example
Frontend/.env.example
API_DOCUMENTATION.md
cachchay.txt
Backend/app_v1.py
Backend/app_v2.py
Frontend/src/pages/face_emotion2_ex.tsx
Frontend/src/pages/Index_orginal.tsx


# # Logs
# logs
# *.log
# npm-debug.log*
# yarn-debug.log*
# yarn-error.log*
# pnpm-debug.log*
# lerna-debug.log*

# node_modules
# dist
# dist-ssr
# *.local

# # Editor directories and files
# .vscode/*
# !.vscode/extensions.json
# .idea
# .DS_Store
# *.suo
# *.ntvs*
# *.njsproj
# *.sln
# *.sw?
